section {

    text-align: center;
}

footer {
    text-align: center;
}


header {
    text-align: center;
}

article{
    text-align: center;
    padding-top: 0px;
    height: 75px;
    background-color: teal;
    width: 80%;
    float: left;
}

aside {
    text-align: center;
    height: 75px;
    background-color: #FFCCFF;
    width: 20%;
    float: left;
}

.name {
    padding-top: 100px;
}